{% extends 'base.html.twig' %}

{% block title %}Enquête télétravail
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1 style="text-align: center;" class="text-primary">
			{{ controller_name }}
		</h1>
		<div class="jumbotron text-center">
			But du sondage
		</div>
	</div>

{% endblock %}
